{% extends './base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block title %}ورود به همتا {% endblock %}

{% block content %}
    
    <main class="page-content">
        <div class="container">
            <div class="auth-wrapper">
                <div class="auth-form shadow-around">
                    <div class="site-logo">
                        <a href="#">
                            <img src="{% static './images/logo.png' %}" alt="logo">
                        </a>
                    </div>
                    <div class="auth-form-title">
                        ورود به همتا
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="form-element-row">
                            <label class="container-checkbox">
                                مرا به خاطر داشته باش
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="form-element-row text-left">
                            <button class="btn-element btn-info-element">
                                <i class="fad fa-sign-in-alt"></i>
                                ورود به همتا
                            </button>
                        </div>

                    </form>
                    <div class="auth-form-footer">
                        <span>کاربر جدید هستید؟</span>
                        <a href="{% url 'register' %}" class="link--with-border-bottom">ثبت نام در همتا</a>
                    </div>

                    <div class="auth-form-footer mt-2">
                        <span>رمز عبور خود را فراموش کرده اید؟</span>
                        <a href="{% url 'password_reset' %}" class="link--with-border-bottom">بازیابی رمز عبور</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}