{% extends './base.html' %}
{% load static %}

{% block title %}ورود به همتا {% endblock %}

{% block content %}
   

    <main class="page-content">
        <div class="container">
            <div class="auth-wrapper">
                <div class="auth-form shadow-around">
                    <div class="site-logo">
                        <a href="#">
                            <img src="{% static './images/logo.png' %}" alt="logo">
                        </a>
                    </div>
                   
                     
                    <p class="text-center">
                       لینک بازیابی رمز عبور برای ایمیل شما فرستاده شد.
                       برای ورود <a href="{% url 'login' %}">کلیک</a> کنید
                        
                    </p>
                   
                </div>
            </div>
        </div>
    </main>
{% endblock %}
