{% extends './base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %}تاییدیه رمز عبور جدید {% endblock %}
{% load crispy_forms_tags %}


{% block content %}
    
    <main class="page-content">
        <div class="container">
            <div class="auth-wrapper">
                <div class="auth-form shadow-around">
                    <div class="site-logo">
                        <a href="#">
                            <img src="{% static './images/logo.png' %}" alt="logo">
                        </a>
                    </div>
                    <div class="auth-form-title">
                        تاییدیه تغییر رمز عبور
                    </div>
                    <p class="text-center">
                        رمز عبور جدید ایجاد گردید. برای ورود <a href="{% url 'login' %}"> کلیک</a> کنید
                    </p>

                    
                </div>
            </div>
        </div>
    </main>

{% endblock %}
	
	